services:
  web:
    environment:
      - PYTHONPATH=/usr/src/fastapi
      - PYTHONUNBUFFERED=1
      - ENVIRONMENT=testing
      - EMAIL_HOST=mailhog_movies_test
      - EMAIL_PORT=1025
      - EMAIL_HOST_USER=testuser@mate.com
      - EMAIL_HOST_PASSWORD=test_password
      - EMAIL_USE_TLS=False
      - MAILHOG_API_PORT=8025
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=some_password
      - MINIO_HOST=minio-movies-test
      - MINIO_PORT=9000
      - MINIO_STORAGE=movies-storage
    build:
      context: .
      dockerfile: ./docker/tests/Dockerfile
    container_name: backend_movies_test
    command: [ "pytest", "-c", "/usr/src/config/pytest.ini",
               "-m", "e2e", "--maxfail=5", "--disable-warnings", "-v", "--tb=short", "-s"]
    
    depends_on:
      mailhog:
        condition: service_started
      minio:
        condition: service_healthy
      # redis:
      #   condition: service_healthy

    volumes:
      - ./src:/usr/src/fastapi/src
      - ./tests:/usr/src/fastapi/tests
    networks:
      - movies_network_test

  mailhog:
    image: mailhog/mailhog
    container_name: mailhog_movies_test
    ports:
      - "8025:8025"
      - "1025:1025"
    networks:
      - movies_network_test

  minio:
    image: minio/minio:latest
    container_name: minio-movies-test
    command: server --console-address ":9001" /data
    ports:
      - "9000:9000"
      - "9001:9001"
    # env_file:
    #     - .env
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=some_password
      - MINIO_HOST=minio-movies-test
      - MINIO_PORT=9000
      - MINIO_STORAGE=movies-storage
   
    volumes:
      - minio_data_test:/data
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9000/minio/health/live" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - movies_network_test

  minio_mc:
    build:
      context: .
      dockerfile: docker/minio_mc/Dockerfile
    container_name: minio_mc_movies_test
    command: [ "/bin/sh", "-c", "/commands/setup_minio.sh" ]
    depends_on:
      minio:
        condition: service_healthy
    environment:
      - MINIO_ROOT_USER=minioadmin
      - MINIO_ROOT_PASSWORD=some_password
      - MINIO_HOST=minio-movies-test
      - MINIO_PORT=9000
      - MINIO_STORAGE=movies-storage
    networks:
      - movies_network_test

  # redis:
  #   image: redis:7-alpine
  #   container_name: redis_movies_test
  #   ports:
  #     - "6379:6379" # optional
  #   networks:
  #     - movies_network_test
  #   healthcheck:
  #     test: ["CMD", "redis-cli", "ping"]
  #     interval: 10s
  #     timeout: 5s
  #     retries: 5

volumes:
  minio_data_test:
    driver: local

networks:
  movies_network_test:
    driver: bridge
